.footer{
    border-top: 1px solid var(--cor-borda);
    padding: 24px 0;
}

.footer-container{
    max-width: var(--largura-maxima);
    margin: 0 auto;
    padding: 0 var(--padding-lateral);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer span{
    font-size: 14px;
    color: var(--cor-texto-sutil);

}

.footer-icons{
    display: flex;
    gap: 16px;

}

.footer-icons a{
    font-size: 18px;
    text-decoration: none;
    color: var(--cor-texto-claro);
    transition: color 0.2s;

}
.footer-icons a:hover{
    color: var(--cor-titulo);
}