button, input, a{
  margin: 6px;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  background-color:rgb(204, 239, 255);
  
  
}
body {
    background: linear-gradient(135deg, #a1c4fd, #c2e9fb);
    min-height: 100vh; 
}

