.servico-card {
  max-width: 300px;
  padding: 24px;
  border: 1px solid var(--cor-borda);
  border-radius: var(--raio-grande);
  gap: 22px;
}

.servico-card h3 {
  font-size: 16px;
  color: var(--cor-titulo);
  margin-bottom: 8px;
}

.servico-card p {
  font-size: 14px;
  color: var(--cor-texto-sutil);
  line-height: 1.5;
}